{% extends 'home/base.html' %}

{% block title %}
    <h1>About</h1>
{% endblock title %}

{% block content %}
    <p>Multilingo es mucho más que una plataforma de enseñanza de idiomas; es una ventana abierta a la riqueza lingüística y cultural de nuestro mundo globalizado. En Multilingo, no solo aprendes un nuevo idioma, sino que también exploras nuevas culturas, conectas con personas de todo el mundo y amplías tu perspectiva de la vida.

        Nuestro enfoque va más allá de la gramática y el vocabulario. Queremos inspirarte a través del poder de las palabras y la comunicación efectiva. Creemos que cada idioma que aprendes te acerca a una experiencia de vida única y te permite conectar con personas de diferentes orígenes y tradiciones.
        
        Con Multilingo, no solo adquirirás habilidades lingüísticas; obtendrás las herramientas para explorar, comprender y apreciar la diversidad de nuestra humanidad. Únete a nosotros y descubre un mundo lleno de posibilidades a través del lenguaje.</p>
    <button><a href="{% url 'home:index' %}">Ir atras</a></button>
{% endblock content %}