{% extends 'home/base.html' %}

{% block title %}
    <h2>home</h2>
{% endblock title %}

{% block content %}
            <!-- Features section-->
            <section class="py-5 border-bottom" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-car-front"></i></div>
                            <h2 class="h4 fw-bolder">INGLES</h2>
                            <p>Habla el idioma global. Descubre el <strong>inglés</strong> y conquista el mundo. 🌎🇬🇧</p>
                            <a class="text-decoration-none" href="{% url 'estudiante:crearen' %}">
                                Inscripción
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-car-front"></i></div>
                            <h2 class="h4 fw-bolder">ESPAÑOL</h2>
                            <p>
                                Sumérgete en la riqueza del <strong>español</strong>. Habla con pasión y conecta con el mundo. 🌍🇪🇸</p>
                            <a class="text-decoration-none" href="{% url 'estudiante:creares' %}">
                                Inscripción
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-car-front"></i></div>
                            <h2 class="h4 fw-bolder">FRANCES</h2>
                            <p>La belleza del <strong>francés</strong> te espera. Habla con elegancia y explora una nueva cultura. 🌏🇫🇷</p>
                            <a class="text-decoration-none" href="{% url 'estudiante:crearfr' %}">
                                Inscripción
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>


            <!-- Testimonials section-->
            <section class="py-5 border-bottom">
                <div class="container px-5 my-5 px-5">
                    <div class="text-center mb-5">
                        <h2 class="fw-bolder">Lo que opinan</h2>
                        <p class="lead mb-0">Nuestros clientes</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-6">
                            <!-- Testimonial 1-->
                            <div class="card mb-4">
                                <div class="card-body p-4">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                        <div class="ms-4">
                                            <p class="mb-1">Descubrí esta plataforma de idiomas y ha sido una experiencia transformadora. Gracias a su enfoque interactivo y a los excelentes profesores, he mejorado mi inglés de forma notable. Estoy más confiada al hablar en reuniones laborales y mis oportunidades laborales se han ampliado. ¡Gracias, equipo!</p>
                                            <div class="small text-muted">- María Sánchez - Madrid, España</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial 2-->
                            <div class="card">
                                <div class="card-body p-4">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                        <div class="ms-4">
                                            <p class="mb-1">Como estudiante de francés en esta plataforma, estoy encantado con mi progreso. Los recursos didácticos son excepcionales y el enfoque práctico realmente facilita el aprendizaje. Ahora puedo comunicarme fluidamente en francés, lo que ha enriquecido mis experiencias de viaje y relaciones interculturales. ¡Recomiendo esta plataforma a todos los apasionados por los idiomas!</p>
                                            <div class="small text-muted">- Pierre Dubois - París, Francia</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock content %}

